button{
    width: 120px;
    background-color: purple;
    color: aliceblue;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover{
    background-color: aliceblue;
    color: purple;
    transition: all 0.5s;
    cursor:help;
}

